@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    --main-color: #e8175d;
}

:root{
    background-image: url(./../image.jpg);
    color: var(--main-color);
}

.app {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1{
    margin-left: 5%;
    color: var(--main-color);
    text-shadow: 2px 2px 2px black;
}

h3{
    margin-left: 5%;
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    text-shadow: 2px 2px 2px black;
}

.form{
    display: flex;
    width: 80%;
    font-size: 1.5rem;
    margin: 2% 5%;
}

.form *{
    margin: 1.5% auto;
}

.field1, .field2{
    display: inline;
    width: 100%;
}


label{
    text-shadow: 2px 2px 2px black;
    margin: 2% auto;
}

.form .submit{
    margin-top: 5%;
    font-size: 2rem;
    display: inline;
    color: var(--main-color);
    background-color: transparent;
    box-shadow: 5px 5px 5px black;
    text-shadow: 2px 2px 2px black;
    cursor: pointer;
    display: inline;
    padding: 5% 20%;
    border: 3px solid whitesmoke;
    border-radius: 15px;
}